li {
  list-style-type: none;
}

.row {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  word-wrap: break-word;
}

.users {
  padding-top: 13px;
  padding-bottom: 13px;
}

.follow {
  padding-top: 13px;
  padding-bottom: 13px;
}

.right {
  margin-top: 50px;
}
